name: Test and Publish Python Package
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.11]
    name: Run Tests/Linters
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: |
          pip install poetry==2.1.1
          poetry install
      - name: Test
        run: |
          poetry run pytest --runslow
  deploy:
    needs: test
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-22.04
    name: Publish Package
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build and Publish Python Package
        uses: ./ # Use action in the root directory.
        id: publish
        with:
          pypi-username: ${{ secrets.PYPI_USERNAME }}
          pypi-password: ${{ secrets.PYPI_PASSWORD }}
